<template>
    <b-container class="home">
        <b-row class="pt-4">
            <b-col cols="12" md="8">
                <h3 class="my-4">Termini</h3>
            </b-col>
            <b-col cols="12" md="4" class="d-flex justify-content-center align-items-center">
                <b-btn v-b-modal.createAppointment variant="primary" class="w-50"
                >Dodaj novi termin</b-btn
                >
            </b-col>
        </b-row>

        <b-row>
            <b-col cols="12">
                <b-table
                        striped
                        hover
                        :fields="fields"
                        :items="appointments"
                        @row-clicked="openAppointment"
                >
                </b-table>
            </b-col>
        </b-row>

        <b-modal id="createAppointment" title="Dodaj novi termin" @ok="createAppointment">
            <b-form>
                <b-form-group
                        id="input-group-1"
                        label="Naziv:"
                        label-for="input-1"
                >
                    <b-form-input
                            id="input-1"
                            v-model="form.KEYWORD"
                            required
                            placeholder="Naziv"
                    ></b-form-input>
                </b-form-group>
                <b-form-group
                        id="input-group-3"
                        label="Početak termina:"
                        label-for="input-3"
                >
                    <input type="datetime-local" id="input-3" v-model="form.START_DT" class="col-12">
                </b-form-group>
                <b-form-group
                        id="input-group-4"
                        label="Kraj termina:"
                        label-for="input-4"
                >
                    <input type="datetime-local" id="input-4" v-model="form.END_DT" class="col-12">
                </b-form-group>
            </b-form>
        </b-modal>
    </b-container>
</template>

<script>
    import helper from "../helper";
    export default {
        data() {
            return {
                value: null,
                appointments: [],
                form: {},
                fields: [
                    {
                        key: "fields.KEYWORD",
                        label: "Naziv",
                        sortable: true
                    },
                    {
                        key: "fields.START_DT",
                        label: "Pocetak",
                        formatter: helper.formatDate,
                        sortable: true
                    },
                    {
                        key: "fields.END_DT",
                        label: "Kraj",
                        formatter: helper.formatDate,
                        sortable: true
                    },
                    {
                        key: "fields.INSERTUSER",
                        label: "Kreirao korisnik",
                        sortable: true
                    },
                    {
                        key: "fields.INSERTTIMESTAMP",
                        label: "Datum kreiranja",
                        formatter: helper.formatDate,
                        sortable: true
                    }
                ]
            };
        },
        mounted() {
            this.getAppointments();
        },
        methods: {
            getAppointments() {
                this.$api.get("appointments/full").then(response => {
                    this.appointments = response.data;
                });
            },
            openAppointment(data) {
                this.$router.push("appointment/" + data.fields.GGUID);
            },
            createAppointment() {
                this.form.START_DT = new Date(this.form.START_DT).toISOString();
                this.form.END_DT = new Date(this.form.END_DT).toISOString();
                let data = {
                    fields: this.form
                };
                this.$api.post('appointment', data).then( response => {
                        if (response.status === 201) {
                            this.getAppointments()
                        }
                    }
                );
            }
        }
    };
</script>

<style lang="scss">
    .home {
        tr {
            &:hover {
                cursor: pointer;
            }
        }
    }
</style>
