<template>
    <b-container class="home" v-if="participant">

        <b-row class="pt-4">
            <b-col cols="12" md="5" class="d-flex align-items-center jusfity-content-center">
                <b-link to="/">
                    <b-icon-chevron-left></b-icon-chevron-left>
                </b-link>

                <h3 class="pl-4 m-0">Sudionici</h3>
            </b-col>
            <b-col cols="12" md="3" class="d-flex">
                <b-form-select v-model="addUserGroupId" :options="groups.options">
                    <template v-slot:first>
                        <b-form-select-option :value="null" disabled>Odaberite grupu</b-form-select-option>
                    </template>
                </b-form-select>
            </b-col>
            <b-col cols="12" md="3">
                <b-btn @click="addParticipant(addUserGroupId)" variant="primary" class="w-100"
                >Potvrdi
                </b-btn
                >
            </b-col>
        </b-row>

        <b-row class="pt-4">
            <b-col cols="5"></b-col>
            <b-col cols="12" md="3">
                <b-form-select v-model="addUserId" :options="users.options">
                    <template v-slot:first>
                        <b-form-select-option :value="null" disabled>Odaberite korisnika</b-form-select-option>
                    </template>
                </b-form-select>
            </b-col>
            <b-col cols="12" md="3">
                <b-btn @click="addParticipant(addUserId)" variant="primary" class="w-100"
                >Potvrdi
                </b-btn
                >
            </b-col>
        </b-row>

        <hr/>

        <b-row class="p-4 d-felx felx-column">
            <div v-for="item in participant" :key="item.id">
                <b-card
                        :title=item.fields.DISPLAYNAME
                        tag="article"
                        style="max-width: 20rem;"
                        class="mb-2 p-4"
                >
                    <b-card-text>
                        Tip: {{item.fields.TYPE === 'USER' ? 'Korisnik' : 'Grupa'}}
                    </b-card-text>
                    <b-button v-on:click="selectParticipant(item.id)" v-b-modal.deleteParticipant variant="danger">
                        Izbrisi
                    </b-button>
                </b-card>
            </div>
        </b-row>
        <hr/>

        <b-modal
                centered
                id="deleteParticipant"
                title="Izbriši sudionika"
                ok-variant="danger"
                @ok="deleteParticipant"
        >
            Jeste li sigurni da želite izbrisati ovog sudionika
        </b-modal>
    </b-container>
</template>

<script>
    import axios from "axios";

    export default {
        data() {
            return {
                participant: null,
                form: {},
                selectedParticipant: null,
                addUserId: null,
                addUserGroupId: null,
                users: null,
                groups: null
            };
        },
        methods: {
            createToast(success) {
                let msg = 'Uspješno ste dodali novog sudionika'
                let title = 'Uspjeh'
                let variant = 'primary'

                if (!success) {
                    msg = 'Nemate ovlasti dodati ovoga sudionika';
                    title = 'Greška'
                    variant = 'danger';
                }

                this.$bvToast.toast(msg, {
                    title: title,
                    variant: variant,
                    solid: true,
                })
            },
            addParticipant(id) {
                this.$api.post("/appointment/" + this.$route.params.gguid + "/participant?gguid=" + id).then(response => {
                    if (response.status === 201) {
                        this.getParticipants();
                        this.createToast(true)
                    } else {
                        this.createToast(false)
                    }
                }).catch(() => {
                    this.createToast(false)
                })
            },
            selectParticipant(id) {
                this.selectedParticipant = id
            },
            getParticipants() {
                this.$api.get("/appointment/" + this.$route.params.gguid + "/participant/full").then(response => {
                    this.participant = response.data;
                });
            },
            getUsers() {
                axios.get('http://212.39.115.5:8585/genesisrest.svc/v3.0/user/list', {
                    auth: {
                        username: 'student1',
                        password: 'student1'
                    }
                }).then(response => {
                    this.users = response.data;
                    this.users.options = this.users.map(item => {
                        return {
                            'value': item.fields.GGUID,
                            'text': item.fields.DISPLAYNAME
                        }
                    })
                    // // console.log(t)
                    // console.log(this.users);
                    // console.log(this.users.options);
                })
            },
            getGroups() {
                axios.get('http://212.39.115.5:8585/genesisrest.svc/v3.0/group/list', {
                    auth: {
                        username: 'student1',
                        password: 'student1'
                    }
                }).then(response => {
                    this.groups = response.data;
                    this.groups.options = this.groups.map(item => {
                        return {
                            'value': item.fields.GGUID,
                            'text': item.fields.DISPLAYNAME
                        }
                    })
                })
            },
            deleteParticipant() {
                this.$api.delete('appointment/' + this.$route.params.gguid + '/participant/' + this.selectedParticipant).then(response => {
                    if (response.status === 200) {
                        this.getParticipants();
                    }
                })
            },
        },
        created() {
            this.getParticipants();
            this.getUsers();
            this.getGroups();
        }
    };
</script>
